{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block meta%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}
    {% tailwind_css %}
    <title>MyBookList</title>
</head>
<body class="bg-[#222831] text-[#EEEEEE] font-bold" style="font-family: 'Merriweather', serif; font-family: 'Ubuntu', sans-serif;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    {% block content %}
    {% endblock content %}
</body>
</html>