{% load static %}

<nav class="border-gray-200 bg-[#00ADB5] mb-4">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <a href="/" class="flex items-center">
            <img class="h-12 mr-3" src="{% static 'haruhi.png' %}" alt="Logo"/>
            <span class="self-center text-2xl font-semibold whitespace-nowrap">MyBookList</span>
        </a>
        <button type="button" class="inline-flex items-center ml-24 p-2 w-10 h-10 justify-center text-sm bg-transparent md:hidden" onclick="mobileSearch()">
            <svg class="w-4 h-4 text-[#222831]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </button>
        <form id="form" action="{% url 'main:result' %}" method="GET">   
            {% csrf_token %}
            <div class="relative hidden md:block">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="id_search" class="block w-96 p-4 pl-10 text-sm border rounded-lg bg-[#393E46] border-gray-600 placeholder-gray-400 focus:ring-[#00ADB5] focus:border-[#00ADB5]" placeholder="Search Title..." required name="search">
                <button aria-label="Search" type="submit" class=" absolute right-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 bg-[#00ADB5] hover:bg-blue-700 focus:ring-blue-800">Search</button>
            </div>
        </form>
        {% if user.is_authenticated %}
        <div class="flex">
            <a href="/profile/{{request.user.id}}"><h1 class="text-2xl  md:ml-24">{{request.user.username}}</h1></a>
            <div id="dropdownDefaultButton" class="pt-3" data-dropdown-toggle="dropdown" onclick="closeSearch()">
                <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </div>
        </div>
        {% else %}
        <a href="/auth/login/"><button class="right-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 bg-[#222831] hover-bg-blue-700 focus:ring-blue-800">Login</button></a>
        {% endif %}
    </div>

    </div>
    <div class="hidden flex flex-wrap p-2 mx-auto item-center" id="search-content">
        <form id="form" action="{% url 'main:result' %}" method="GET" class="mt-3">   
            {% csrf_token %}
            <div class="relative pl-2">
                <div class="absolute inset-y-0 left-0 flex items-center ml-2 pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="id_search" class="block w-96 p-4 pl-10 text-sm border rounded-lg bg-[#393E46] border-gray-600 placeholder-gray-400 focus:ring-[#00ADB5] focus:border-[#00ADB5]" placeholder="Search Title..." required name="search">
                <button aria-label="Search" type="submit" class=" absolute right-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 bg-[#00ADB5] hover-bg-blue-700 focus:ring-blue-800">Search</button>
            </div>
        </form>
    </div>
</nav>

<div class="hidden z-10 divide-y bg-[#00ADB5] rounded-lg" id="dropdown">
    <ul aria-labelledby="dropdownDefaultButton" class="py-2 text-sm">
        <a href="/auth/logout/"><li class="block px-4 py-2 hover:bg-[#09adf6]">Logout</li></a>
    </ul>
</div>

<script>
    function mobileSearch(){
        var searchContent = document.getElementById("search-content");
        if (searchContent.classList.contains("hidden")) {
            searchContent.classList.remove("hidden");
        } else {
            searchContent.classList.add("hidden");
        }
    }

    function closeSearch(){
        var searchContent = document.getElementById("search-content");
        if (!searchContent.classList.contains("hidden")) {
            searchContent.classList.add("hidden");
        }       
    }
</script>