{% load static %}

<nav class="bg-white border-gray-200 bg-[#00ADB5]">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <a href="/" class="flex items-center">
            <img class="h-12 mr-3" src="{% static 'haruhi.png' %}" alt="Logo"/>
            <span class="self-center text-2xl font-semibold whitespace-nowrap">MyBookList</span>
        </a>
        <form id="form" action="{% url 'main:result' %}" method="GET">   
            {% csrf_token %}
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="id_search" class="block w-96 p-4 pl-10 text-sm border rounded-lg bg-[#393E46] border-gray-600 placeholder-gray-400 focus:ring-[#00ADB5] focus:border-[#00ADB5]" placeholder="Search Title..." required name="search">
                <button aria-label="Search" type="submit" class=" absolute right-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 bg-[#00ADB5] hover:bg-blue-700 focus:ring-blue-800">Search</button>
            </div>
        </form>
        <h1 class="text-2xl ml-24">{{request.user.username}}</h1>
    </div>
</nav>