{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<h1 class="text-5xl font-bold mb-4 text-center">Books in All Category</h1>

<div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
    <button data-category="all" type="button" class="category-button  border border-white hover:border-[#00ADB5]  bg-[#393E46] focus:ring-4 focus:outline-[#00ADB5] focus:ring-[#00ADB5] rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">All categories</button>
    <button data-category="Art" type="button" class="category-button  border border-white hover:border-[#393E46]  bg-[#00ADB5] focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">Art</button>
    <button data-category="Economics" type="button" class="category-button  border border-white hover:border-[#393E46]  bg-[#00ADB5] focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">Economics</button>
    <button data-category="Fiction" type="button" class="category-button  border border-white hover:border-[#393E46]  bg-[#00ADB5] focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">Fiction</button>
    <button data-category="History" type="button" class="category-button  border border-white hover:border-[#393E46]  bg-[#00ADB5] focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">History</button>
    <button data-category="Philosophy" type="button" class="category-button  border border-white hover:border-[#393E46]  bg-[#00ADB5] focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">Philosophy</button>
    <button data-category="Science" type="button" class="category-button  border border-white hover:border-[#393E46]  bg-[#00ADB5] focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 ">Science</button>
</div>

<div id="books_list" class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4">
</div>

<script>
    const bookBaseURL = "/book/";

    async function getBooks() {
        return fetch("{% url 'categories:get_book_json_all' %}").then((res) => res.json())
    }

    async function refreshBooks() {
        document.getElementById("books_list").innerHTML = "";
        const books = await getBooks();
        let htmlString = "";
        books.forEach((item) => {
            const truncatedDescription = item.fields.description.split(" ").slice(0, 30).join(" ") + (item.fields.description.split(" ").length > 30 ? "..." : "");
            const bookUrl = `${bookBaseURL}${item.pk}/`;
            htmlString += `
                <div class="group relative">
                    <a href="${bookUrl}" class="block">
                        <img class="w-full rounded-lg" src="${item.fields.image_link}" alt="${item.fields.title}">
                        <div class=" hidden md:block absolute bottom-0 left-0 right-0 bg-black bg-opacity-60 p-2 text-white text-xs rounded-b-lg transition-opacity opacity-0 group-hover:opacity-100">
                            <strong>${item.fields.title} by ${item.fields.author}</strong><br>
                            ${truncatedDescription}
                        </div>
                    </a>
                </div>
                `;
        });
        document.getElementById("books_list").innerHTML = htmlString;
    }
    refreshBooks()
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let buttons = document.querySelectorAll('.category-button');
    
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                let categoryName = button.getAttribute('data-category');
                if (categoryName === 'all') {
                    window.location.href = `../all/`;
                }else {
                    window.location.href = `{% url 'categories:books_by_category' category_name='temp' %}`.replace('temp', categoryName);
                }
            });
        });
    });
</script>
    

{% endblock content %}
