{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}

<h3> Hi! {{ username }}, welcome to MyBookList! Here are some lists of books that we think you may like.</h3>
<ul id="show_random_books"></ul>

{% include 'footer.html' %}

<script>
    const bookBaseURL = "/book/";
</script>

<script>
    async function getProducts() {
        return fetch(`./get-product/`).then((res) => res.json())
    }
    async function refreshBook() {
        document.getElementById("show_random_books").innerHTML = "";
        const books = await getProducts();
        let htmlString = "";
        books.forEach((item) => {
            const bookUrl = `${bookBaseURL}${item.pk}/`;
            htmlString += `
                    <a href="${bookUrl}" class="block mt-2 text-lg text-center">${item.fields.title}</a>
                    <p class="block mt-2 text-lg text-center">${item.fields.author}</p>
                    <a href="/book/${item.pk}"><img src="${item.fields.image_link}" alt="book image" class="center"></a>
                `;
        });
        
        document.getElementById("show_random_books").innerHTML = htmlString;
    }

    refreshBook()
</script>


{% endblock content %}