{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<h3> Hi! {{ username }}, welcome to MyBookList! Here are some lists of books that we think you may like.</h3>
<ul id="show_random_books"></ul>


<script>
    async function getProducts() {
        return fetch(`./get-product/`).then((res) => res.json())
    }
    async function refreshBook() {
        document.getElementById("show_random_books").innerHTML = "";
        const books = await getProducts();
        let htmlString = "";
        books.forEach((item) => {
            htmlString += `
            <a href="/book/${item.pk}"><p>${item.fields.title}</p></a>
                    <p>${item.fields.author}</p>
                    <a href="/book/${item.pk}"><img src="${item.fields.image_link}" alt="book image"></a>
                `;
        });
        
        document.getElementById("show_random_books").innerHTML = htmlString;
    }

    refreshBook()
</script>


{% endblock content %}